.banner {
  margin: auto;
  margin-bottom: 10px;
  padding: 0 170px 0 170px;
  border-radius: 5px;
}
.imgBanner {
  border-radius: 5px;
}
.react-swipe-container carousel {
  border-radius: 5px;
}

@media only screen and (max-width: 767px) and (min-width: 319px) and (orientation: portrait) {
  .banner {
    padding: 10px;
  }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) and (orientation: portrait) {
  .banner {
    padding: 10px;
  }
}
